.rodal-dialog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 101;
	padding: 15px;
	background: #00c94b;
	border-radius: 0px;
	box-shadow: 0px 0px 10px 1px #111;
	opacity: 0.8;
}
